#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 10%;
}

textarea{
    font-size: 20px;
}

#container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 1%;
    margin: 0% 0%;
}
#container-2:nth-child(1){
    background-color: purple;
    color: white;
}
#container-2:nth-child(2){
    background-color: darkblue;
    color:white;
}
#container-2:nth-child(3){
    background-color: lightskyblue;
}
#container-2:nth-child(4){
    background-color: yellow;
}
#container-2:nth-child(5){
    background-color: orange;
}
#container-2:nth-child(6){
    background-color: red;
}
